<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        canvas {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a href={{ url_for('swagger_ui.show') }}>API Documentation</a>

    <div style="
        display: grid;
        grid-template-columns: 1fr auto auto 1fr;
        grid-gap: 20px;
    ">
        <div style="grid-column: 2">
            <h1>Draw a digit:</h1>
            <canvas id="canvas" width=700 height=700></canvas>
            <br>
            <label for="lineWidth"  style="font-size: 20px">Line Width</label>
            <input type="range" id="lineWidth" min="20" max="100" value="40">
            <button id="clear" style="font-size: 20px">clear</button>
            <button id="submit" style="font-size: 20px">submit</button>
            <span id="status" style="font-size: 20px"></span>
        </div>
        <div id="results" style="grid-column: 3"></div>
    </div>
</body>

<script type="text/javascript">
canvas = document.getElementById('canvas');
clear = document.getElementById('clear');
submit = document.getElementById('submit');
ctx = canvas.getContext("2d");

ctx.fillStyle = "white";
ctx.fillRect(0, 0, canvas.width, canvas.height);

lineWidth = document.getElementById("lineWidth");

var prev = { x: 0, y: 0 };

mousedown = false;

function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
      x: evt.clientX - rect.left,
      y: evt.clientY - rect.top
    };
  }

canvas.addEventListener("mousemove", function (e) {
    pos = getMousePos(canvas, e);
    if (mousedown) {
        draw(pos.x, pos.y, prev.x, prev.y);
    }
    prev = pos;
}, false);
canvas.addEventListener("mousedown", function (e) {
    mousedown = true;
    pos = getMousePos(canvas, e);
    draw(pos.x, pos.y, pos.x, pos.y);
    prev = pos;
}, false);
canvas.addEventListener("mouseup", function (e) {
    mousedown = false;
}, false);
canvas.addEventListener("mouseout", function (e) {
    mousedown = false;
}, false);

canvas.addEventListener("touchstart", function (e) {
    e.stopPropagation();
    var touch = e.touches[0];
    var mouseEvent = new MouseEvent("mousedown", {
        clientX: touch.clientX,
        clientY: touch.clientY
    });
    canvas.dispatchEvent(mouseEvent);
}, false);

canvas.addEventListener("touchend", function (e) {
    e.stopPropagation();
    var mouseEvent = new MouseEvent("mouseup", {});
    canvas.dispatchEvent(mouseEvent);
}, false);

canvas.addEventListener("touchmove", function (e) {
    e.stopPropagation();
    var touch = e.touches[0];
    var mouseEvent = new MouseEvent("mousemove", {
        clientX: touch.clientX,
        clientY: touch.clientY
    });
    canvas.dispatchEvent(mouseEvent);
}, false);

document.body.addEventListener("touchstart", function (e) {
    if (e.target == canvas) {
        e.preventDefault();
    }
}, false);

document.body.addEventListener("touchend", function (e) {
    if (e.target == canvas) {
        e.preventDefault();
    }
}, false);

document.body.addEventListener("touchmove", function (e) {
    if (e.target == canvas) {
        e.preventDefault();
    }
}, false);

function draw(x2, y2, x1, y1) {
    ctx.strokeStyle = "black";
    ctx.lineWidth = lineWidth.value
    ctx.lineCap='round'
    ctx.beginPath();
    ctx.moveTo(x1, y1)
    ctx.lineTo(x2, y2)
    ctx.stroke()
    ctx.closePath()
}

clear.addEventListener("click", function (e) {
    ctx.fillStyle = "white";
    ctx.fillRect(0, 0, canvas.width, canvas.height);
}, false);

submit.addEventListener("click", async function (e) {
    document.getElementById("status").innerHTML = "Processing...";

    url = {{ url_for('predict')|tojson }};

    var image = await new Promise((resolve, reject) => {
        canvas.toBlob(resolve, 'image/png');
    });

    fetch(url, {
        method: 'POST',
        body: image,
        headers: {
            'Content-Type': 'image/png'
        }
    }).then(function (response) {
        return response.text()
    }).then(function (text) {
        document.getElementById("results").innerHTML = text;
        document.getElementById("status").innerHTML = "";
    });
}, false);
</script>

</html>
